apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: mongodb
  ports:
    - name: mongodb
      port: {{ .Values.service.port }}
      targetPort: 27017
      protocol: TCP
