apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    role: frontend
  ports:
    - port: {{ .Values.service.port }}
      protocol: TCP
