apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: api
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
