apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    role: frontend
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
