namespace: three-tier

replicaCount: 1

image:
  repository: 767828733016.dkr.ecr.ap-south-1.amazonaws.com/frontend
  tag: "latest"
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-registry-secret

service:
  type: ClusterIP
  port: 3000

env:
  backendUrl: "http://api:3500"

resources: {}
